*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Audiowide', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 100%;

    background-image: url('hatter.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
  }

@font-face {
    font-family: 'MyFont';
    src: url('MyFont.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}


::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background: rgb(0, 147, 147);
}

::-webkit-scrollbar-thumb:hover {
    background: #00ffff;
}

.focim{
    font-family: 'Audiowide', sans-serif;
    font-size: 100px;
    color: #da2784;
    text-shadow: 0 0 30px rgba(218, 39, 132, 0.6)
    , 0 0 60px rgba(218, 39, 132, 0.6)
    , 0 0 120px rgba(218, 39, 132, 0.6);
}

.fo-tarolo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 600px;
    max-width: 90%;
}

.nav-sav {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 600px;
    padding: 12px 0;
    border-top: 2px solid #00ffff;
    border-bottom: 2px solid #00ffff;
}

.nav-sav button {
    background: none;
    border: none;

    font-size: 20px;
    cursor: pointer;
    /* color: #da2784;
    text-shadow: 0 0 30px rgba(218, 39, 132, 1)
    , 0 0 60px rgba(218, 39, 132, 1)
    , 0 0 120px rgba(218, 39, 132, 1);*/
    color: #00ffff;
    text-shadow: 0px 0px 16px rgba(0, 255, 255, 0.6);
  
}

.nav-sav button:hover {
    transform: scale(1.05);
    text-shadow: 0px 0px 16px rgba(0, 255, 255, 1);
  
}

#tablaFelett, .tabla-alatt{
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: center;
    gap: 5px;
    padding: 20px 0;
    width: 100%;
    max-width: 400px;
}

#tablaFelett {
    padding-bottom: 5px;
}

.tabla-alatt {
    padding-top: 5px;
}

.tabla-alatt{
    align-items: start;
}

.ures-tabla-alatt {
    width: 109px;
    height: 44px;
}

.zaszlo-tarolo, .szamlalo-gomb {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 20px;
    width: 130px;
}

.zaszlo-kepe {
    width: 20px;
    height: 20px;
    filter: invert(84%) sepia(96%) saturate(7500%) hue-rotate(104deg) brightness(103%) contrast(102%)
    drop-shadow(0 0 1px rgba(0, 255, 255, 0.9)) drop-shadow(0 0 2px rgba(0, 255, 255, 0.8)) drop-shadow(0 0 3px rgba(0, 255, 255, 0.6));
    border-width: 0;
}

.zaszloSzamol, #szamlalo {
    color: rgba(218, 39, 132, 1);
    text-shadow: 0 0 20px rgba(218, 39, 132, 1)
    , 0 0 50px rgba(218, 39, 132, 1)
    , 0 0 110px rgba(218, 39, 132, 1);
}

#szamlaloGomb {
    background: none;
    border: none;
}

#szamlaloGomb i {
    font-size: 20px;
    color: #00ffff;
}

#emojiGomb {
    background: none;
    border: none;
}

#emojiGomb i {
    font-size: 50px;
    /* color: #00ffff; */
    /* filter: drop-shadow(0 0 1px rgba(0, 255, 255, 0.9)) drop-shadow(0 0 2px rgba(0, 255, 255, 0.8)) drop-shadow(0 0 3px rgba(0, 255, 255, 0.6));; */
    cursor: pointer;
}

.fa-face-smile{
    color: #00ffff;
    filter: drop-shadow(0 0 1px rgba(0, 255, 255, 0.9)) drop-shadow(0 0 2px rgba(0, 255, 255, 0.8)) drop-shadow(0 0 3px rgba(0, 255, 255, 0.6));;
}
.fa-face-tired{
    color: #e8071a;
    filter: drop-shadow(0 0 1px hwb(355 3% 9% / 0.9)) drop-shadow(0 0 2px rgba(232, 7, 26, 0.8)) drop-shadow(0 0 3px rgba(232, 7, 26, 0.6));
}

.fa-face-laugh-beam{
    color: #da2784;
    filter: drop-shadow(0 0 2px rgba(218, 39, 132, 0.8))
        drop-shadow(0 0 6px rgba(218, 39, 132, 0.6))
        drop-shadow(0 0 12px rgba(218, 39, 132, 0.4));
}

.border {
    background-color: #033237;
    padding: 5px;
    border-style: solid;
    border-width: 3px;
    border-color: #00ffff;
    border-radius: 5px;
    box-shadow: 0px 0px 16px 0px rgba(0, 255, 255, 0.6);
}

.border-animacio:hover {
    box-shadow: 0px 0px 16px 0px rgba(0, 255, 255, 1);
    transform: scale(0.95);
}

.border-1 {
    background-color: #033237;
    padding: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #00ffff;
    border-radius: 5px;
    box-shadow: 0px 0px 100px 0px rgba(0, 255, 255, 0.6);

}

.jatek-tabla-tarolo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: #033237;
    padding: 10px;
    border-style: solid;
    border-width: 3px;
    border-color: #00ffff;
    border-radius: 5px;
}

.tabla{
    border-style: solid;
    border-width: 1px;
    border-color: #00ffff;
    /* box-shadow:
    0 0 5px #00ffff,
    0 0 10px #00ffff,
    0 0 20px #00ffff,
    0 0 40px rgba(0, 255, 255, 0.4);
    transition: box-shadow 0.2s ease; */
    align-items: center;
    justify-items: center;
}

/* .tabla:hover {
    box-shadow:
      0 0 8px #00ffff,
      0 0 16px #00ffff,
      0 0 32px #00ffff,
      0 0 64px rgba(0, 255, 255, 0.6);
    cursor: pointer;
} */

.mezo-kontener {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-width: 1px;
    border-color: #00ffff;
    /* border-color: #84b9dd; */
    /* box-shadow: 0px 0px 150px 5px rgba(45,255,196,0.2); */
    box-shadow: 0px 0px 16px 0px rgba(0, 255, 255, 0.6);
    /* box-shadow: 0px 0px 150px 2px #84b9dd; */
  }

.mezok{
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-width: 1px;
    border-color: #00ffff;
    border-radius: 5px;
    width: 30px;
    height: 30px;
}

.leforditott{
    background-color: rgba(6, 23, 42, 1);
    cursor: pointer;
}

.leforditott:hover {
    transform: scale(0.9);
}

.szam{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #da2784;
    text-shadow: 0 0 30px rgba(218, 39, 132, 0.6)
    , 0 0 60px rgba(218, 39, 132, 0.6)
    , 0 0 120px rgba(218, 39, 132, 0.6);
    font-weight: bold;
    font-family: 'Audiowide', cursive;
}

.bomba{
    background-image: url("akna_narancs.png");
    background-size: max(24px);
    filter: drop-shadow(0 0 1px rgba(255, 107, 0, 0.8)) drop-shadow(0 0 2px rgba(222, 99, 12, 0)) drop-shadow(0 0 3px rgba(255, 107, 0, 0.0));
    border-width: 0;
    background-repeat: no-repeat;
    background-position: center;
}

.aBomba{
    background-image: url("./akna_piros.png");
    /*e8071a*/
    filter: drop-shadow(0 0 1px rgba(232, 7, 26, 0.9)) drop-shadow(0 0 2px rgba(232, 7, 26, 0.8)) drop-shadow(0 0 3px rgba(232, 7, 26, 0.6));
    border-width: 0;
    background-size: max(24px);
    background-repeat: no-repeat;
    background-position: center;
}

.zaszlo{
    background-image: url("./zaszlo.png");
    background-color: transparent;
    background-size: max(24px);
    background-repeat: no-repeat;
    background-position: center;
    color: #00ffff;
    filter: invert(84%) sepia(96%) saturate(7500%) hue-rotate(104deg) brightness(103%) contrast(102%)
            drop-shadow(0 0 1px rgba(0, 255, 255, 0.9)) drop-shadow(0 0 2px rgba(0, 255, 255, 0.8)) drop-shadow(0 0 3px rgba(0, 255, 255, 0.6));
    border-width: 0;
}

#szintValaszto, .vesztettel-tarolo, .nyertel-tarolo, #jatekszabalyzatTarolo{
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
}

.vesztettel, .nyertel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 650px;
    height: 100%;
    max-height: 400px;
    background-color: #00000094;
    border-radius: 5px;
}

.vesztettel h2 {
    font-size: 60px;
    padding: 8px 24px;
    font-weight: normal;
    text-align: center;
    color: #e8071a;
    filter: drop-shadow(0 0 1px rgba(232, 7, 26, 0.6)) drop-shadow(0 0 2px rgba(232, 7, 26, 0.6)) drop-shadow(0 0 3px rgba(232, 7, 26, 0.6));;
    border: 1px #e8071a solid;
    box-shadow: 0px 0px 16px 0px rgba(232, 7, 26, 0.2);
}

.nyertel h2 {
    font-size: 60px;
    font-weight: 100;
    text-align: center;
    color: #00ffff;
    filter: drop-shadow(0 0 1px rgba(0, 255, 255, 0.6)) drop-shadow(0 0 2px rgba(0, 255, 255, 0.6)) drop-shadow(0 0 3px rgba(0, 255, 255, 0.6));
}

#szintek, .jatekszabalyzat {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 1000px;
    height: 100%;
    max-height: 650px;
    background-color: #00000094;
    border-radius: 5px;
}

.jatekszabalyzat-cim, .szintek-cim {
    font-size: 32px;
    text-align: center;
    color: #da2784;
    text-shadow: 0 0 30px rgba(218, 39, 132, 0.6)
    , 0 0 60px rgba(218, 39, 132, 0.6)
    , 0 0 120px rgba(218, 39, 132, 0.6);
}

.jatekszabalyzat-belso-tarolo {
    height: 100%;
    width: 90%;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    margin: 20px;
    padding: 0 16px 16px 16px;
    border: 1px solid #00ffff;
    border-radius: 5px;
    overflow-y: scroll;
    color: #00ffff;
    text-align: justify;
}

.jatekszabalyzat-belso-tarolo ul, ol {
    margin-left: 32px;
}

.jatekszabalyzat-belso-tarolo li, p {
    margin-top: 8px;
}

.jatekszabalyzat-belso-tarolo h3 {
    width: 100%;
    font-size: 20px;
    text-align: start;
    margin: 32px 0 4px 0;
    color: #da2784;
    text-shadow: 0 0 30px rgba(218, 39, 132, 0.6)
    , 0 0 60px rgba(218, 39, 132, 0.6)
    , 0 0 120px rgba(218, 39, 132, 0.6);
}

.szintek-gombok-tarolo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 28px;
    height: 100%;
    width: 90%;
    margin: 20px;
    border: 1px solid #00ffff;
    border-radius: 5px;
    overflow-y: scroll;
    color: #00ffff;
    text-align: justify;
}

.szintek-gombok-tarolo button {
    width: 240px;
    padding: 20px;
    font-size: 24px;
    color: #00ffff;
    background-color: transparent;
    border: 3px solid #00ffff;
    border-radius: 5px;
    filter: drop-shadow(0 0 1px rgba(0, 255, 255, 0.5)) drop-shadow(0 0 2px rgba(0, 255, 255, 0.4)) drop-shadow(0 0 3px rgba(0, 255, 255, 0.2));
    cursor: pointer;
    text-transform: uppercase;
}

/* #halado, #szakerto{
    cursor: pointer;
}

#kezdo{
    cursor: auto;
} */

.szintek-gombok-tarolo button:not(:disabled):hover {
    filter: drop-shadow(0 0 1px rgba(0, 255, 255, 0.5)) drop-shadow(0 0 2px rgba(0, 255, 255, 0.4)) drop-shadow(0 0 3px rgba(0, 255, 255, 0.6));
    box-shadow: 0 0 4px 1px rgba(0, 255, 255, 0.8);
}

.szintek-gombok-tarolo button:disabled {
    cursor: auto;
    color: rgba(0, 255, 255, 0.4);
    border: 1px solid rgba(0, 255, 255, 0.4);
    /* box-shadow: 0px 0px 16px 0px rgba(0, 255, 255, 0.2); */
    background-color: #00ffff0a;
}

.szintek-bezaras-tarolo, .jatekszabalyzat-bezaras-tarolo {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
}

.szintek-bezaras, .jatekszabalyzat-bezaras {
    background-color: transparent;
    padding: 4px 6px;
    margin: 16px 16px 0 0;
    border-radius: 5px;
    color: #e8071a;
    border: 1px solid #e8071a;
    filter: drop-shadow(0 0 1px rgba(232, 7, 26, 0.9)) drop-shadow(0 0 2px rgba(232, 7, 26, 0.8)) drop-shadow(0 0 3px rgba(232, 7, 26, 0.6));;
    font-size: 16px;
    cursor: pointer;
}

.szintek-bezaras:hover, .jatekszabalyzat-bezaras:hover {
    filter: drop-shadow(0 0 1px rgba(232, 7, 26, 1)) drop-shadow(0 0 2px rgba(232, 7, 26, 0.9)) drop-shadow(0 0 3px rgba(232, 7, 26, 0.8));;
    box-shadow: 0 0 4px 1px rgb(232, 7, 26, 0.2);
}

.tevesZaszlo{
    filter: invert(10%) sepia(94%) saturate(7075%) hue-rotate(352deg) brightness(92%) contrast(98%)
    drop-shadow(0 0 1px rgba(232, 7, 26, 0.9)) drop-shadow(0 0 2px rgba(232, 7, 26, 0.8)) drop-shadow(0 0 3px rgba(232, 7, 26, 0.6));
}

.zene-lejatszas {
    width: 130px;
    padding: 0;
}

.kazetta-tarolo {
    margin: -5px;
    width: calc(100% + 10px);
    height: auto;
    position: relative;
    cursor: pointer;
}

.kazetta-ures, .kazetta-kor {
    filter: invert(84%) sepia(96%) saturate(7500%) hue-rotate(104deg) brightness(103%) contrast(102%)
            drop-shadow(0 0 1px rgba(0, 255, 255, 0.5)) drop-shadow(0 0 2px rgba(0, 255, 255, 0.4)) drop-shadow(0 0 3px rgba(0, 255, 255, 0.6));
}

.kazetta-ures {
    width: 100%;
    height: auto;
}

.kazetta-kor {
    width: 18px;
    height: 18px;
    position: absolute;
    top: 36%;
}

.kazetta-kor-bal {
    right: 23%;
}

.kazetta-kor-jobb {
    left: 23%;
}

.kazetta-forgatas {
    animation: forgas 2s linear infinite;
}

@keyframes forgas {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#szintek, #jatekszabalyzat {
    position: fixed;
    transform: scale(2);
    opacity: 0;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.vesztettel, .nyertel {
    position: fixed;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.popup-scale-in #szintek, .popup-scale-in #jatekszabalyzat {
    transform: scale(1);
    opacity: 1;
}

.popup-scale-in .vesztettel, .popup-scale-in .nyertel {
    opacity: 1;
}

.fade-out {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.fade-in {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.active {
    display: flex !important;
}