*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Audiowide', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 100%;

    background-image: url('hatter.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
  }

@font-face {
    font-family: 'MyFont';
    src: url('MyFont.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}



.focim{
    font-family: 'Audiowide', sans-serif;
    font-size: 100px;
    color: #da2784;
    text-shadow: 0 0 30px rgba(218, 39, 132, 0.6)
    , 0 0 60px rgba(218, 39, 132, 0.6)
    , 0 0 120px rgba(218, 39, 132, 0.6);
}

.fo-tarolo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.nav-sav {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 12px 0;
    border-top: 2px solid #00ffff;
    border-bottom: 2px solid #00ffff;
}

.nav-sav button {
    background: none;
    border: none;

    font-size: 20px;
    cursor: pointer;

    color: #da2784;
    text-shadow: 0 0 30px rgba(218, 39, 132, 1)
    , 0 0 60px rgba(218, 39, 132, 1)
    , 0 0 120px rgba(218, 39, 132, 1);
}

#tablaFelett, .tabla-alatt{
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: center;
    gap: 12px;
    padding: 20px 0;
    width: 100%;
    max-width: 400px;
}

#tablaFelett {
    padding-bottom: 10px;
}

.tabla-alatt {
    padding-top: 10px;
}

.tabla-alatt{
    align-items: start;
}

.ures-tabla-alatt {
    width: 100px;
    height: 44px;
}

.zaszlo-tarolo, .szamlalo-gomb {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 20px;
    width: 115px;
}

.zaszlo-kepe {
    width: 20px;
    height: 20px;
    filter: invert(84%) sepia(96%) saturate(7500%) hue-rotate(104deg) brightness(103%) contrast(102%)
    drop-shadow(0 0 1px rgba(0, 255, 255, 0.9)) drop-shadow(0 0 2px rgba(0, 255, 255, 0.8)) drop-shadow(0 0 3px rgba(0, 255, 255, 0.6));
    border-width: 0;
}

.zaszloSzamol, #szamlalo {
    color: rgba(218, 39, 132, 1);
    text-shadow: 0 0 20px rgba(218, 39, 132, 1)
    , 0 0 50px rgba(218, 39, 132, 1)
    , 0 0 110px rgba(218, 39, 132, 1);
}

#szamlaloGomb {
    background: none;
    border: none;
}

#szamlaloGomb i {
    font-size: 20px;
    color: #00ffff;
}

#emojiGomb {
    background: none;
    border: none;
}

#emojiGomb i {
    font-size: 50px;
    color: #00ffff;
}

.border {
    background-color: #033237;
    padding: 5px;
    border-style: solid;
    border-width: 3px;
    border-color: #00ffff;
    border-radius: 5px;
    box-shadow: 0px 0px 16px 0px rgba(0, 255, 255, 0.6);

}

.border-1 {
    background-color: #033237;
    padding: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #00ffff;
    border-radius: 5px;
    box-shadow: 0px 0px 100px 0px rgba(0, 255, 255, 0.6);

}

.jatek-tabla-tarolo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: #033237;
    padding: 10px;
    border-style: solid;
    border-width: 3px;
    border-color: #00ffff;
    border-radius: 5px;
}

.tabla{
    border-style: solid;
    border-width: 1px;
    border-color: #00ffff;
    /* box-shadow:
    0 0 5px #00ffff,
    0 0 10px #00ffff,
    0 0 20px #00ffff,
    0 0 40px rgba(0, 255, 255, 0.4);
    transition: box-shadow 0.2s ease; */
    align-items: center;
    justify-items: center;
}

/* .tabla:hover {
    box-shadow:
      0 0 8px #00ffff,
      0 0 16px #00ffff,
      0 0 32px #00ffff,
      0 0 64px rgba(0, 255, 255, 0.6);
    cursor: pointer;
} */

.mezo-kontener {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-width: 1px;
    border-color: #00ffff;
    /* border-color: #84b9dd; */
    /* box-shadow: 0px 0px 150px 5px rgba(45,255,196,0.2); */
    box-shadow: 0px 0px 16px 0px rgba(0, 255, 255, 0.6);
    /* box-shadow: 0px 0px 150px 2px #84b9dd; */
  }

.mezok{
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-width: 1px;
    border-color: #00ffff;
    border-radius: 5px;
    width: 30px;
    height: 30px;
}

.leforditott{
    background-color: rgba(6, 23, 42, 1);
}

.szam{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #da2784;
    text-shadow: 0 0 30px rgba(218, 39, 132, 0.6)
    , 0 0 60px rgba(218, 39, 132, 0.6)
    , 0 0 120px rgba(218, 39, 132, 0.6);
    font-weight: bold;
    font-family: 'Audiowide', cursive;
    /* font-family: 'Orbitron', sans-serif; */
}

.bomba{
    background-image: url("./akna.svg");
    filter: invert(54%) sepia(79%) saturate(423%) hue-rotate(341deg) brightness(89%) contrast(94%)
drop-shadow(0 0 1px rgb(221, 126, 59, 0.9)) drop-shadow(0 0 2px rgba(221, 126, 59, 0.8)) drop-shadow(0 0 3px rgba(221, 126, 59, 0.6));
    border-width: 0;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.aBomba{
    background-image: url("./akna.svg");
    /*e8071a*/
    filter: invert(24%) sepia(84%) saturate(4788%) hue-rotate(340deg) brightness(81%) contrast(132%)
    drop-shadow(0 0 1px rgba(232, 7, 26, 0.9)) drop-shadow(0 0 2px rgba(232, 7, 26, 0.8)) drop-shadow(0 0 3px rgba(232, 7, 26, 0.6));
    border-width: 0;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.zaszlo{
    background-image: url("./zaszlo.png");
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    filter: invert(84%) sepia(96%) saturate(7500%) hue-rotate(104deg) brightness(103%) contrast(102%)
            drop-shadow(0 0 1px rgba(0, 255, 255, 0.9)) drop-shadow(0 0 2px rgba(0, 255, 255, 0.8)) drop-shadow(0 0 3px rgba(0, 255, 255, 0.6));
    border-width: 0;
}

#szintValaszto{
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;

}

#szintek {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1000px;
    height: 100%;
    max-height: 650px;
    background-color: #00000094;
    border-radius: 5px;
}

.szintek-gombok-tarolo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 28px;

    height: 100%;
}

.szintek-gombok-tarolo button {
    width: 240px;
    padding: 20px;
    font-size: 24px;
    color: #00ffff;
    background-color: transparent;
    border: 3px solid #00ffff;
    border-radius: 5px;
    filter: drop-shadow(0 0 1px rgba(0, 255, 255, 0.5)) drop-shadow(0 0 2px rgba(0, 255, 255, 0.4)) drop-shadow(0 0 3px rgba(0, 255, 255, 0.6));
    cursor: pointer;
    text-transform: uppercase;
}

.szintek-gombok-tarolo button:disabled {
    color: rgba(0, 255, 255, 0.4);
    border: 3px solid rgba(0, 255, 255, 0.4);
    box-shadow: 0px 0px 16px 0px rgba(0, 255, 255, 0.2);
}

.szintek-bezaras-tarolo {
    display: flex;
    justify-content: end;
    align-items: center;
}

.szintek-bezaras {
    background-color: transparent;
    padding: 4px 6px;
    margin: 16px 16px 0 0;
    border-radius: 5px;
    color: #e8071a;
    border: 1px solid #e8071a;
    filter: drop-shadow(0 0 1px rgba(232, 7, 26, 0.9)) drop-shadow(0 0 2px rgba(232, 7, 26, 0.8)) drop-shadow(0 0 3px rgba(232, 7, 26, 0.6));;
    font-size: 16px;
    cursor: pointer;
}

.tevesZaszlo{
    filter: invert(10%) sepia(94%) saturate(7075%) hue-rotate(352deg) brightness(92%) contrast(98%)
    drop-shadow(0 0 1px rgba(232, 7, 26, 0.9)) drop-shadow(0 0 2px rgba(232, 7, 26, 0.8)) drop-shadow(0 0 3px rgba(232, 7, 26, 0.6));
}

.zene-lejatszas {
    width: 130px;
    height: auto;
}

.zene-lejatszas img {
    width: 100%;
    filter: invert(84%) sepia(96%) saturate(7500%) hue-rotate(104deg) brightness(103%) contrast(102%)
    drop-shadow(0 0 1px rgba(0, 255, 255, 0.5)) drop-shadow(0 0 2px rgba(0, 255, 255, 0.4)) drop-shadow(0 0 3px rgba(0, 255, 255, 0.6));

}