*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Audiowide', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 100%;

    background-image: url('img/hatter.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
  }

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background: rgb(0, 147, 147);
}

::-webkit-scrollbar-thumb:hover {
    background: #00ffff;
}

.main-title{
    font-family: 'Audiowide', sans-serif;
    font-size: 100px;
    color: #da2784;
    text-shadow: 0 0 30px rgba(218, 39, 132, 0.6)
    , 0 0 60px rgba(218, 39, 132, 0.6)
    , 0 0 120px rgba(218, 39, 132, 0.6);
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 600px;
    max-width: 90%;
}

.nav-bar {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 600px;
    padding: 12px 0;
    border-top: 2px solid #00ffff;
    border-bottom: 2px solid #00ffff;
}

.nav-bar button {
    background: none;
    border: none;

    font-size: 20px;
    cursor: pointer;
    color: #00ffff;
    text-shadow: 0px 0px 16px rgba(0, 255, 255, 0.6);
  
}

.nav-bar button:hover {
    transform: scale(1.05);
    text-shadow: 0px 0px 16px rgba(0, 255, 255, 1);
  
}

#aboveBoard, .below-board{
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: center;
    gap: 5px;
    padding: 20px 0;
    width: 100%;
    max-width: 400px;
}

#aboveBoard {
    padding-bottom: 5px;
}

.below-board {
    padding-top: 5px;
}

.below-board{
    align-items: start;
}

.below-empty-board {
    width: 109px;
    height: 44px;
}

.flags-container, .timer-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 20px;
    width: 130px;
}

.flag-image {
    width: 20px;
    height: 20px;
    filter: invert(84%) sepia(96%) saturate(7500%) hue-rotate(104deg) brightness(103%) contrast(102%)
    drop-shadow(0 0 1px rgba(0, 255, 255, 0.9)) drop-shadow(0 0 2px rgba(0, 255, 255, 0.8)) drop-shadow(0 0 3px rgba(0, 255, 255, 0.6));
    border-width: 0;
}

.flags-counter, #timer {
    color: rgba(218, 39, 132, 1);
    text-shadow: 0 0 20px rgba(218, 39, 132, 1)
    , 0 0 50px rgba(218, 39, 132, 1)
    , 0 0 110px rgba(218, 39, 132, 1);
}

#timerButton {
    background: none;
    border: none;
}

#timerButton i {
    font-size: 20px;
    color: #00ffff;
}

#emojiButton {
    background: none;
    border: none;
}

#emojiButton i {
    font-size: 50px;
    cursor: pointer;
}

.fa-face-smile{
    color: #00ffff;
    filter: drop-shadow(0 0 1px rgba(0, 255, 255, 0.9)) drop-shadow(0 0 2px rgba(0, 255, 255, 0.8)) drop-shadow(0 0 3px rgba(0, 255, 255, 0.6));;
}
.fa-face-tired{
    color: #e8071a;
    filter: drop-shadow(0 0 1px hwb(355 3% 9% / 0.9)) drop-shadow(0 0 2px rgba(232, 7, 26, 0.8)) drop-shadow(0 0 3px rgba(232, 7, 26, 0.6));
}

.fa-face-laugh-beam{
    color: #da2784;
    filter: drop-shadow(0 0 2px rgba(218, 39, 132, 0.8)) drop-shadow(0 0 6px rgba(218, 39, 132, 0.6)) drop-shadow(0 0 12px rgba(218, 39, 132, 0.4));
}

.border {
    background-color: #033237;
    padding: 5px;
    border-style: solid;
    border-width: 3px;
    border-color: #00ffff;
    border-radius: 5px;
    box-shadow: 0px 0px 16px 0px rgba(0, 255, 255, 0.6);
}

.border-animation:hover {
    box-shadow: 0px 0px 16px 0px rgba(0, 255, 255, 1);
    transform: scale(0.95);
}

.border-1 {
    background-color: #033237;
    padding: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #00ffff;
    border-radius: 5px;
    box-shadow: 0px 0px 100px 0px rgba(0, 255, 255, 0.6);

}

.game-board-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: #033237;
    padding: 10px;
    border-style: solid;
    border-width: 3px;
    border-color: #00ffff;
    border-radius: 5px;
}

.board{
    border-style: solid;
    border-width: 1px;
    border-color: #00ffff;
    align-items: center;
    justify-items: center;
}

.cell-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-width: 1px;
    border-color: #00ffff;
    box-shadow: 0px 0px 16px 0px rgba(0, 255, 255, 0.6);
  }

.cell{
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-width: 1px;
    border-color: #00ffff;
    border-radius: 5px;
    width: 30px;
    height: 30px;
}

.faceDown{
    background-color: rgba(6, 23, 42, 1);
    cursor: pointer;
}

.faceDown:hover {
    transform: scale(0.9);
}

.number{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #da2784;
    text-shadow: 0 0 30px rgba(218, 39, 132, 0.6), 0 0 60px rgba(218, 39, 132, 0.6), 0 0 120px rgba(218, 39, 132, 0.6);
    font-weight: bold;
    font-family: 'Audiowide', cursive;
}

.bomb{
    background-image: url("img/akna_narancs.png");
    background-size: max(24px);
    filter: drop-shadow(0 0 1px rgba(255, 107, 0, 0.8)) drop-shadow(0 0 2px rgba(222, 99, 12, 0)) drop-shadow(0 0 3px rgba(255, 107, 0, 0.0));
    border-width: 0;
    background-repeat: no-repeat;
    background-position: center;
}

.firstBomb{
    background-image: url("img/akna_piros.png");
    filter: drop-shadow(0 0 1px rgba(232, 7, 26, 0.9)) drop-shadow(0 0 2px rgba(232, 7, 26, 0.8)) drop-shadow(0 0 3px rgba(232, 7, 26, 0.6));
    border-width: 0;
    background-size: max(24px);
    background-repeat: no-repeat;
    background-position: center;
}

.flag{
    background-image: url("img/zaszlo.png");
    background-color: transparent;
    background-size: max(24px);
    background-repeat: no-repeat;
    background-position: center;
    color: #00ffff;
    filter: invert(84%) sepia(96%) saturate(7500%) hue-rotate(104deg) brightness(103%) contrast(102%)
            drop-shadow(0 0 1px rgba(0, 255, 255, 0.9)) drop-shadow(0 0 2px rgba(0, 255, 255, 0.8)) drop-shadow(0 0 3px rgba(0, 255, 255, 0.6));
    border-width: 0;
}

#levelSelector, .lost-container, .won-container, #gameRulesContainer{
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
}

.lost, .won {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 650px;
    height: 100%;
    max-height: 400px;
    background-color: #00000094;
    border-radius: 5px;
}

.lost h2 {
    font-size: 60px;
    padding: 8px 24px;
    font-weight: normal;
    text-align: center;
    color: #e8071a;
    filter: drop-shadow(0 0 1px rgba(232, 7, 26, 0.6)) drop-shadow(0 0 2px rgba(232, 7, 26, 0.6)) drop-shadow(0 0 3px rgba(232, 7, 26, 0.6));;
    border: 1px #e8071a solid;
    box-shadow: 0px 0px 16px 0px rgba(232, 7, 26, 0.2);
}

.won h2 {
    font-size: 60px;
    font-weight: 100;
    text-align: center;
    color: #00ffff;
    filter: drop-shadow(0 0 1px rgba(0, 255, 255, 0.6)) drop-shadow(0 0 2px rgba(0, 255, 255, 0.6)) drop-shadow(0 0 3px rgba(0, 255, 255, 0.6));
}

#levels, .game-rules {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 1000px;
    height: 100%;
    max-height: 650px;
    background-color: #00000094;
    border-radius: 5px;
}

.game-rules-title, .levels-title {
    font-size: 32px;
    text-align: center;
    color: #da2784;
    text-shadow: 0 0 30px rgba(218, 39, 132, 0.6), 0 0 60px rgba(218, 39, 132, 0.6), 0 0 120px rgba(218, 39, 132, 0.6);
}

.game-rules-inside-container {
    height: 100%;
    width: 90%;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    margin: 20px;
    padding: 0 16px 16px 16px;
    border: 1px solid #00ffff;
    border-radius: 5px;
    overflow-y: scroll;
    color: #00ffff;
    text-align: justify;
}

.game-rules-inside-container ul, ol {
    margin-left: 32px;
}

.game-rules-inside-container li, p {
    margin-top: 8px;
}

.game-rules-inside-container h3 {
    width: 100%;
    font-size: 20px;
    text-align: start;
    margin: 32px 0 4px 0;
    color: #da2784;
    text-shadow: 0 0 30px rgba(218, 39, 132, 0.6), 0 0 60px rgba(218, 39, 132, 0.6), 0 0 120px rgba(218, 39, 132, 0.6);
}

.levels-buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 28px;
    height: 100%;
    width: 90%;
    margin: 20px;
    border: 1px solid #00ffff;
    border-radius: 5px;
    overflow-y: scroll;
    color: #00ffff;
    text-align: justify;
}

.levels-buttons-container button {
    width: 240px;
    padding: 20px;
    font-size: 24px;
    color: #00ffff;
    background-color: transparent;
    border: 3px solid #00ffff;
    border-radius: 5px;
    filter: drop-shadow(0 0 1px rgba(0, 255, 255, 0.5)) drop-shadow(0 0 2px rgba(0, 255, 255, 0.4)) drop-shadow(0 0 3px rgba(0, 255, 255, 0.2));
    cursor: pointer;
    text-transform: uppercase;
}

.levels-buttons-container button:not(:disabled):hover {
    filter: drop-shadow(0 0 1px rgba(0, 255, 255, 0.5)) drop-shadow(0 0 2px rgba(0, 255, 255, 0.4)) drop-shadow(0 0 3px rgba(0, 255, 255, 0.6));
    box-shadow: 0 0 4px 1px rgba(0, 255, 255, 0.8);
}

.levels-buttons-container button:disabled {
    cursor: auto;
    color: rgba(0, 255, 255, 0.4);
    border: 1px solid rgba(0, 255, 255, 0.4);
    background-color: #00ffff0a;
}

.levels-close-container, .game-rules-close-container {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
}

.levels-close, .game-rules-close {
    background-color: transparent;
    padding: 4px 6px;
    margin: 16px 16px 0 0;
    border-radius: 5px;
    color: #e8071a;
    border: 1px solid #e8071a;
    filter: drop-shadow(0 0 1px rgba(232, 7, 26, 0.9)) drop-shadow(0 0 2px rgba(232, 7, 26, 0.8)) drop-shadow(0 0 3px rgba(232, 7, 26, 0.6));;
    font-size: 16px;
    cursor: pointer;
}

.levels-close:hover, .game-rules-close:hover {
    filter: drop-shadow(0 0 1px rgba(232, 7, 26, 1)) drop-shadow(0 0 2px rgba(232, 7, 26, 0.9)) drop-shadow(0 0 3px rgba(232, 7, 26, 0.8));;
    box-shadow: 0 0 4px 1px rgb(232, 7, 26, 0.2);
}

.wrongFlag{
    filter: invert(10%) sepia(94%) saturate(7075%) hue-rotate(352deg) brightness(92%) contrast(98%)
    drop-shadow(0 0 1px rgba(232, 7, 26, 0.9)) drop-shadow(0 0 2px rgba(232, 7, 26, 0.8)) drop-shadow(0 0 3px rgba(232, 7, 26, 0.6));
}

.music-player {
    width: 130px;
    padding: 0;
}

.cassette-container {
    margin: -5px;
    width: calc(100% + 10px);
    height: auto;
    position: relative;
    cursor: pointer;
}

.cassette-empty, .cassette-wheel {
    filter: invert(84%) sepia(96%) saturate(7500%) hue-rotate(104deg) brightness(103%) contrast(102%)
            drop-shadow(0 0 1px rgba(0, 255, 255, 0.5)) drop-shadow(0 0 2px rgba(0, 255, 255, 0.4)) drop-shadow(0 0 3px rgba(0, 255, 255, 0.6));
}

.cassette-empty {
    width: 100%;
    height: auto;
}

.cassette-wheel {
    width: 18px;
    height: 18px;
    position: absolute;
    top: 36%;
}

.cassette-wheel-left {
    right: 23%;
}

.cassette-wheel-right {
    left: 23%;
}

.cassette-wheel-rotate {
    animation: rotate 2s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#levels, #gameRules {
    position: fixed;
    transform: scale(2);
    opacity: 0;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.lost, .won {
    position: fixed;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.popup-scale-in #levels, .popup-scale-in #gameRules {
    transform: scale(1);
    opacity: 1;
}

.popup-scale-in .lost, .popup-scale-in .won {
    opacity: 1;
}

.fade-out {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.fade-in {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.active {
    display: flex !important;
}